@model ItemWrapperViewModel
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-10 offset-1 col-md-3 offset-md-1">
        <span class="alert-danger">@Html.ValidationSummary()</span>
    </div>
</div>
<style>
    textarea.form-control {
        width: 100%;
        height: 100px;
        font-weight: 300;
        font-size: .8rem;
        border-radius: 5px;
    }
</style>

<div class="content-body">
    <div class="card">
        <form asp-action="Create" id="CreateInteractionModelSectionItem">
            <input type="hidden" asp-for="InteractionModelSectionId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-10 col-lg-6">
                        <h2>["AddSectionItem"]</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <select asp-for="SelectedDialogItemType" asp-items="Model.DialogItemTypes" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6" id="dialogItemContainer">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <!-- Submit button -->
                <input class="btn btn-primary" value="Create" type="submit" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        $("#SelectedDialogItemType").change(this, LoadViewComponentForType);
        $("#SelectedDialogItemType").change();
        function LoadViewComponentForType(event) {
            var selectElement = $(event.target);
            var dialogItemContainer = $("#dialogItemContainer");
            console.log($("#CreateInteractionModelSectionItem").serialize());
            console.log(dialogItemContainer);
            $.ajax({
                url: '/DialogItem/',
                method: "POST",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                data: $("#CreateInteractionModelSectionItem").serialize()
            })
                .done(function (result) {
                    $(dialogItemContainer).html(result);
                })
                .fail(function (result) {
                    $(dialogItemContainer).html("An error occured.");
                    console.error("error: " + result.status);//TODO: change to better error handling
                });
        }
    </script>
}
