@{
    ViewData["Title"] = "Home Page";
}
@model ModelBindingIssue.Models.HemaDialogItemViewModel
@{
    int count = Model.Mappings.Count > 0 ? Model.Mappings.Count : 3;
}
<form asp-action="Post">
    <input asp-for="Type" />
    <input asp-for="Id" />
    <input asp-for="Name" />
    <input asp-for="ResponseNoPackages" />
    @for (int i = 0; i < count; i++)
    {
        <input asp-for="@Model.Mappings[i].ResponseStatus" />
        <input asp-for="@Model.Mappings[i].InputStatuses" />
    }
    <input type="submit" />
</form>
